<article class="portfolio">

    <header>
        <h2 class="h2 article-title">Portfolio</h2>
    </header>

    <section class="projects">
        <ul class="project-list">

            <li *ngFor="let project of projects" class="project-item  active">
                <a target="_blank" [href]="project.url">

                    <figure class="project-img">
                        <div class="project-item-icon-box">
                            <i class="bi bi-eye"></i>
                        </div>

                        <img [src]="project.imageUrl" [alt]="project.imageAlt" loading="lazy">
                    </figure>

                    <h3 class="project-title">{{project.name}}</h3>
                </a>
            </li>
            
        </ul>
    </section>

</article>