<article class="about">

    <header>
        <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
        <p>
            Tutkulu bir yazılım geliştirici olarak, C# ile <b>yedi</b> yılı aşkın çalışma deneyimiyle yazılım geliştirme
            alanında sağlam bir temel oluşturdum. <b>ASP.NET Core</b> kullanarak, <b>Entity Framework, Onion
                Architecture, CQRS</b> ve Mediator kalıpları gibi yapıları kullanarak RESTful web API'leri
            geliştirme konusunda deneyime sahibim. <b>Docker</b> kullanarak konteynerleştirme ve sunucu
            dağıtımı konusunda bilgiliyim.
        </p>
    </section>

    <!-- service -->
    <section class="service">

        <h3 class="h3 service-title">What I'm doing</h3>

        <ul class="service-list">

            <li class="service-item">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-design.svg" alt="design icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Backend Development</h4>

                    <p class="service-item-text">
                        The most modern and high-quality design made at a professional level.
                    </p>
                </div>

            </li>

            <li class="service-item">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Frontend Development</h4>

                    <p class="service-item-text">
                        High-quality development of sites at the professional level.
                    </p>
                </div>

            </li>

        </ul>

    </section>

    <!-- skill -->
    <section class="skill">
        <h3 class="h3 skills-title">My skills</h3>
        <div class="skills-list">
            <div class="skills-item">
                <h5 class="h5">C#</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">Angular</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">Docker</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">MsSql</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">TypeScript</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">Jenkins</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">Onion Architecture</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">Clean Code</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">CQRS Pattern</h5>
            </div>
            <div class="skills-item">
                <h5 class="h5">OOP</h5>
            </div>
        </div>
    </section>
    

    <!-- testimonials -->
    <!-- <section class="testimonials">

        <h3 class="h3 testimonials-title">Testimonials</h3>

        <ul class="testimonials-list has-scrollbar">

            <li *ngFor="let item of testimonials" class="testimonials-item" (click)="openPopup(item.id)">
                <div class="content-card">

                    <figure class="testimonials-avatar-box">
                        <img [src]="item.image" [alt]="item.name" width="60">
                    </figure>

                    <h4 class="h4 testimonials-item-title">{{item.name}}</h4>

                    <div class="testimonials-text">
                        <p>{{item.text}}</p>
                    </div>

                </div>
            </li>
        </ul>
    </section> -->


    <!-- testimonials modal -->

    <!-- <div class="modal-container" [ngClass]="{'active':showPopup}">

        <div class="overlay" [ngClass]="{'active':showPopup}" (click)="closePopup()"></div>

        <section class="testimonials-modal">

            <button class="modal-close-btn" (click)="closePopup()">
                <i class="bi bi-x"></i>
            </button>

            <div class="modal-img-wrapper">
                <figure class="modal-avatar-box">
                    <img [src]="popupImage" [alt]="popupName" width="80">
                </figure>

                <img src="./assets/images/icon-quote.svg" alt="quote icon">
            </div>

            <div class="modal-content">

                <h4 class="h3 modal-title">{{popupName}}</h4>

                <time datetime="2021-09-14">14 June, 2021</time>

                <div>
                    <p>{{popupText}}</p>
                </div>

            </div>
        </section>
    </div> -->

    <!--      - clients    -->
    <!-- <section class="clients">

        <h3 class="h3 clients-title">Clients</h3>

        <ul class="clients-list has-scrollbar">

            <li class="clients-item">
                <a href="#">
                    <img src="./assets/images/logo-1-color.png" alt="client logo">
                </a>
            </li>

            <li class="clients-item">
                <a href="#">
                    <img src="./assets/images/logo-2-color.png" alt="client logo">
                </a>
            </li>

            <li class="clients-item">
                <a href="#">
                    <img src="./assets/images/logo-3-color.png" alt="client logo">
                </a>
            </li>

            <li class="clients-item">
                <a href="#">
                    <img src="./assets/images/logo-4-color.png" alt="client logo">
                </a>
            </li>

            <li class="clients-item">
                <a href="#">
                    <img src="./assets/images/logo-5-color.png" alt="client logo">
                </a>
            </li>

            <li class="clients-item">
                <a href="#">
                    <img src="./assets/images/logo-6-color.png" alt="client logo">
                </a>
            </li>
        </ul>
    </section> -->
</article>