<article class="about">

    <header>
        <h1 class="h2 article-title">{{"ABOUT"|translate}}</h1>
    </header>

    <section class="about-text">
        <p [innerHTML]="'ABOUT TEXT' | translate"></p>
    </section>

    <!-- service -->
    <section class="service">
        <h2 class="h3 service-title">{{"WHAT I'M DOING" | translate}}</h2>

        <ul class="service-list">
            <li class="service-item">
                <div class="service-icon-box">
                    <i class="fa-solid fa-code-compare"></i>
                </div>
                <div class="service-content-box">
                    <h3 class="h4 service-item-title">{{"BACKEND"|translate}}</h3>
                    <p class="service-item-text">{{"BACKEND TEXT"|translate}}</p>
                </div>
            </li>
            <li class="service-item">
                <div class="service-icon-box">
                    <i class="fa-solid fa-code"></i>
                </div>
                <div class="service-content-box">
                    <h3 class="h4 service-item-title">{{"FRONTEND"|translate}}</h3>
                    <p class="service-item-text">{{"FRONTEND TEXT"|translate}}</p>
                </div>
            </li>
            <li class="service-item">
                <div class="service-icon-box">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <div class="service-content-box">
                    <h3 class="h4 service-item-title">{{"MOBILE"|translate}}</h3>
                    <p class="service-item-text">{{"MOBILE TEXT"|translate}}</p>
                </div>
            </li>
            <li class="service-item">
                <div class="service-icon-box">
                    <i class="fa-solid fa-server"></i>
                </div>
                <div class="service-content-box">
                    <h3 class="h4 service-item-title">{{"SERVER"|translate}}</h3>
                    <p class="service-item-text">{{"SERVER TEXT"|translate}}</p>
                </div>
            </li>
        </ul>
    </section>

    <!-- testimonial -->
    <section class="testimonials">
        <h2 class="h3 testimonials-title">{{"REFERANCES" | translate}}</h2>
        <div class="testimonials-container">
            <a *ngFor="let company of companies" 
               [href]="company.url" 
               target="_blank" 
               class="testimonial-card">
                <div class="testimonial-content">
                    <div class="company-logo">
                        <img [src]="company.logo" [alt]="company.name">
                    </div>
                    <div class="company-info">
                        <h4 class="company-name">{{company.name}}</h4>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <!-- skill -->
    <section class="skill">
        <h2 class="h3 skills-title">{{"MY SKILLS"|translate}}</h2>
        <div class="skills-list">
            <div *ngFor="let skill of skills" class="skills-item">
                <h3 class="h5">{{skill}}</h3>
            </div>
        </div>
    </section>

</article>