<article class="about">

    <header>
        <h2 class="h2 article-title"> {{"ABOUT"|translate}}</h2>
    </header>

    <section class="about-text">
        <p [innerHTML]="'ABOUT TEXT' | translate"></p>
    </section>

    <!-- service -->
    <section class="service">

        <h3 class="h3 service-title">{{"WHAT I'M DOING" | translate}}</h3>

        <ul class="service-list">

            <li class="service-item">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-design.svg" alt="design icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">{{"BACKEND"|translate}}</h4>

                    <p class="service-item-text">{{"BACKEND TEXT"|translate}}</p>
                </div>

            </li>

            <li class="service-item">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">{{"FRONTEND"|translate}}</h4>

                    <p class="service-item-text">{{"FRONTEND TEXT"|translate}}</p>
                </div>

            </li>

        </ul>

    </section>

    <!-- skill -->
    <section class="skill">
        <h3 class="h3 skills-title">{{"MY SKILLS"|translate}}</h3>
        <div class="skills-list">
            <div *ngFor="let skill of skills" class="skills-item">
                <h5 class="h5">{{skill}}</h5>
            </div>
        </div>
    </section>
</article>