<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^index\.html$ - [L]

  # Eğer istenen dosya veya dizin yoksa
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Yönlendirme: Bulunamadığında /about sayfasına git
  # RewriteRule . /about [R=302,L]

  # Alternatif olarak, burada index.html'ye yönlendirmeyi de ekleyebilirsiniz
  RewriteRule . /index.html [L]
</IfModule>