<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a class="navbar-link" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >{{"ABOUT"|translate}}</a>
        </li>

        <li class="navbar-item">
            <a class="navbar-link" routerLink='/resume' routerLinkActive="active">{{"RESUME"|translate}}</a>
        </li>

        <li class="navbar-item">
            <a class="navbar-link" routerLink='/portfolio' routerLinkActive="active">{{"PORTFOLIO"|translate}}</a>
        </li>

        <li class="navbar-item">
            <a class="navbar-link" routerLink='/blog' routerLinkActive="active">{{"BLOG"|translate}}</a>
        </li>
    </ul>
</nav>