<article class="resume">

    <header>
        <h2 class="h2 article-title">{{"RESUME"|translate}}</h2>
    </header>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <i class="bi bi-book"></i>
            </div>

            <h3 class="h3">{{"EXPERIENCE"|translate}}</h3>
        </div>

        <ol class="timeline-list">
            @for (data of cvDatas.experience; track $index) {
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{data.title}}</h4>
                <span>{{data.date}}</span>

                <ul>
                    @for (des of data.description; track $index;) {
                    <li class="timeline-text">{{des}}"</li>
                    }
                </ul>
            </li>
            }
        </ol>

    </section>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <i class="bi bi-book"></i>
            </div>

            <h3 class="h3">{{"EDUCATION"|translate}}</h3>
        </div>

        <ol class="timeline-list">
            @for (data of cvDatas.education; track $index) {
            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">{{data.departmant}}</h4>

                <span>{{data.school}}</span>

                <p class="timeline-text">
                    GPA: {{data.gpa}}
                </p>

            </li>
            }
        </ol>

    </section>

</article>