<article class="resume">

    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <i class="bi bi-book"></i>
            </div>

            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            @for (data of cvDatas; track $index) {
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{data.title}}</h4>
                <span>{{data.date}}</span>

                <ul>
                    @for (des of data.description; track $index) {
                    <li class="timeline-text">{{des}}</li>
                    }
                </ul>
            </li>
            }
        </ol>

    </section>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <i class="bi bi-book"></i>
            </div>

            <h3 class="h3">Education</h3>
        </div>

        <ol class="timeline-list">

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Management Information Systems (Bachelor's Degree)</h4>

                <span>Anadolu University</span>

                <p class="timeline-text">
                    GPA: 3.00 / 4.00
                </p>

            </li>


            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Computer Programming (Associate's Degree)</h4>

                <span>Adiyaman University</span>

                <p class="timeline-text">
                    GPA: 3.75 / 4.00
                </p>

            </li>

        </ol>

    </section>

</article>