<article class="blog">

    <header>
        <h2 class="h2 article-title">Blog</h2>
    </header>

    <section class="blog-posts">
        <ul class="blog-posts-list">
            <li *ngFor="let post of posts" class="blog-post-item">
                <a [href]="post.link" target="_blank">

                    <figure class="blog-banner-box">
                        <img [src]="post.image">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-meta">
                            <!-- <p class="blog-category">Design</p> -->

                            <!-- <span class="dot"></span> -->

                            <time datetime="2022-02-23">{{post.pubDate}}</time>
                        </div>

                        <h3 class="h3 blog-item-title">{{post.title}}</h3>

                        <p class="blog-text">
                            Veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                        </p>

                    </div>
                </a>
            </li>
        </ul>
    </section>

</article>